* {
  padding: 0;
  margin: 0;
  box-sizing: box-sizing;
}
html,
body {
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;

  background-image: url('/images/icons/good-weather-ideas.jpg');
}
html {
  overflow: hidden;
}
.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}
header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(250, 250, 250, 0.3);
  border-radius: 16px 0px;
  border-bottom: 3px solid #df8e00;
  color: #313131;
  font-size: 20px;
  font-weight: 0.2s ease-out;
}
.notification {
}
header input:focus {
  background-color: rgba(250, 250, 250, 0.6);
}
main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.location,
.current {
}
.location .city {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}
.location .date {
  font-size: 12px;
}
.current .temp {
  font-size: 40px;
  font-weight: 800;
  margin: 30px 0;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.2);
}
.current .temp span {
  font-weight: 500;
}
.current .weather {
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0 3px rgba(0, 0, 0, 0.2);
}
.current .hi-low {
  font-size: 17px;
  font-weight: 500;
  text-shadow: 0 4px rgba(0, 0, 0, 0.2);
}
/*.rule {
  border: 2px solid #fff;
}
*/
